<h1>HERE</h1>
<p>LE CLUB</p>



<div class="container">
   
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.prenom %></td>
        <td><%= user.email %></td>
      </tr>
      </tr>
    </tbody>
    <%end%>
  </table>
</div>
  





<%= link_to "SORTIE DEFINITIVE!", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-danger" %>
   </li><br><br>
